<h1>Landing Page</h1>

<div id="HdrLeft"></div>
<div id="HdrRight"></div>
<h2><span>Lorem Ipsum</span></h2>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin fermentum nisl a diam porttitor sodales. Vivamus id suscipit risus. Integer fringilla, lorem a sodales auctor, quam justo tempor odio, ac convallis justo odio et nibh. Praesent hendrerit augue vel eros ultricies convallis vitae vitae turpis. Quisque porta nunc vitae rutrum tristique. Curabitur tincidunt, arcu vel placerat suscipit, ligula turpis pretium diam, vitae tempor eros dolor eu ante. Pellentesque elementum sapien ut leo cursus, nec dignissim ante faucibus. Suspendisse tortor mi, iaculis quis porta a, facilisis nec magna. Curabitur mattis velit ac ornare eleifend. Vestibulum sed nunc auctor, dapibus libero eu, feugiat magna. Mauris ac lectus commodo, facilisis eros vitae, sollicitudin ligula. Suspendisse commodo faucibus turpis sed rhoncus. Curabitur at lectus sed nunc egestas porttitor.</p>


<p><a href=/home/signup> Click me to sign up </a> </p>
