<h1>Thank You!</h1>
<img src=http://www.bearvalleycommunityhospital.com/wp-content/uploads/2013/05/Thank-You.jpg width="304" height="228"></imag>
<p><a href=/home/landing>Click me to back to landing page</a></p>
